<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Animator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Animator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Animator.Properties.Settings>
            <setting name="RecentFileCapacity" serializeAs="String">
                <value>4</value>
            </setting>
        </Animator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Animator.Properties.Settings>
            <setting name="DefaultFileExtension" serializeAs="String">
                <value>anx</value>
            </setting>
            <setting name="FileDialogFilter" serializeAs="String">
                <value>Animator Documents|*.anx|XML Files|*.*|All Files|*.*</value>
            </setting>
            <setting name="TransportType" serializeAs="String">
                <value>null</value>
            </setting>
        </Animator.Properties.Settings>
    </applicationSettings>
</configuration>
